/* //main  */
.select .select-input {
    height: 52px;
}

.select .dropdown-toggle {
    width: inherit;
    height: inherit;
}

#img-circle {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-circle>img {
    width: 20px;
    height: 20px;
}

.priofilebutton {
    width: 177px;
    height: 42px;
    border-radius: 10px;
    outline: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 102.52%;
    background: #0d3451;
    color: white
}

.cp-container {
    padding: 50px 105px;
}

.cp-upper {
    display: flex;
    gap: 20px;
    padding: 65px 50px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.upper-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.upper-right {
    width: 70%;
}

.upper-right-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-template-areas:
        ". .";

}

.upf-fields>input {
    height: 52px;
    margin: 10px 0;
    width: 100%;
    color: rgba(13, 52, 81, 0.5);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    outline: none;

}

.select {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 52px !important;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.select-input {
    height: 100%;
}

.dropdown-toggle {
    height: 100%;

}

.select .drop-container .input {
    display: none;
}

.select .option-list li.active {
    background-color: #0D3451;
}

.active {
    border-bottom: 3px solid #0D3451;
}

select {
    height: 52px;
    margin: 10px 0;
    width: 100%;
    color: rgba(13, 52, 81, 0.5);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    outline: none;
}

.cp-middle {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.middle-left {
    width: 30%;
    padding: 23px 25px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.middle-right {
    width: 70%;
    padding: 23px 25px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.cp-middle-two {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.middle-left-two {
    width: 50%;
    padding: 23px 25px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.middle-right-two {
    width: 50%;
    padding: 23px 25px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.cp-heading {
    margin: 10px 0;
    padding: 20px 30px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.cp-heading>p {
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 102.52%;
    color: #0D3451;
}

.single-field {
    margin: 10px 0;
    padding: 50px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.single-field>.sf-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-field>textarea {
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    outline: none;
    resize: none;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: rgba(13, 52, 81, 0.5);
}

.cp-btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.cp-btn>button {
    width: 195px;
    height: 59px;
    border-radius: 10px;
}

.calendar-picker {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.input .button {
    height: 52px;
}

.calendar-picker>input {
    height: 100%;
}

.calendar {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 32px rgba(170, 170, 170, 0.03);
    border-radius: 12px;
}

.calendar-toolbar {
    border: none;
}

.calendar-content .week-day {
    border-bottom: none;
}

.calendar-content .week-day,
.calendar-content .week-number {
    font-weight: 700;
    background-color: white;
}

.calendar-content .today {
    background-color: #0D3451;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
}

.calendar .days .day,
.calendar .months .month,
.calendar .years .year {
    border: none;
}

.toogle {
    width: 70%;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 8px;
}

.toogle>.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toogle>.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toogle>.switch>.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.toogle>.switch>.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.toogle>.switch>input:checked+.slider {
    background-color: #0D3451;
}

.toogle>.switch>input:focus+.slider {
    box-shadow: 0 0 1px #0D3451;
}

.toogle>.switch>input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.toogle>.switch>.round {
    border-radius: 34px;
    border-radius: 20px
}

.toogle>.switch>.round:before {
    border-radius: 50%;
}

.btn-exrta {
    background: #0D3451;
    border-radius: 10px;
    color: white;
    width: 110px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}