.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
    /* margin-bottom: 2rem; */

}

.content {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;


}

.content>h3 {
    padding-top: 2rem;
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 102.52%;
    /* or 66px */


    color: #0B2447;

}

.meetingtitle>p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    color: #000000;

}

.content>p,
.heading>p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 122.02%;
    /* or 17px */

    text-transform: capitalize;

    color: #000000;
}

.content>h2 {
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 122.02%;
    /* identical to box height, or 44px */

    text-transform: capitalize;

    color: #000000;

}

.meetings {
    padding-top: 10px;
    display: flex;
    gap: 50px;
    align-items: center;
    width: 85%;
}

.heading>h1,
.meetingtitle>h1 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #000000;
}

.viewall {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top:26px;
    margin-bottom:11px;
    align-items: center;
    justify-content: center;
}

.viewall>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 122.02%;
    /* identical to box height, or 31px */

    text-transform: capitalize;

    color: #000000;
}

.bgcolor {
    background: #E2EDFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom:2rem ;
}
