.profile{
    margin: 0 108px;
}
.profile>h1{
font-family: 'DM Serif Text';
font-style: normal;
font-weight: 400;
font-size: 36px;
color: #000000;
margin: 55px 0 39px 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 28px;
  grid-row-gap:37px;
}
.grid-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
input {
  height: 49px;
    border: none;
  background: rgba(165, 173, 186, 0.42);
  border-radius: 10px;
}
.grid-item>label{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
text-transform: capitalize;
color: #000000;
}

form>button{
    margin-top: 66px;
    margin-bottom: 295px;
width: 395px;
height: 71px;
border: none;
background: #0D3451;
border-radius: 10px;

font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 46px;

color: #FFFFFF;
}
textarea{
    resize: vertical;
    padding-top: 12px;
padding-left: 12px;
font-size: 20px;
background: rgba(165, 173, 186, 0.42);
border-radius: 10px;
}
::placeholder{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #A5ADBA;
}

input{
  padding-left: 12px;
}