.container4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.content4 {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content4>h1 {
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 102.52%;
    /* or 37px */


    color: #000000;

}

.profile-details-pic {
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description>label,
.profile-details>p,
.description1>label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 102.52%;
    /* or 25px */


    color: #000000;

}

.consultant-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.description1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btnstyle {
    width: 331px;
    height: 71px;


    background: #0D3451;
    border-radius: 10px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;

    color: #FFFFFF;
}

.saved-data {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.posted-jobs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;


}

.return-btn {
    width: 395px;
    height: 71px;


    background: #0D3451;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 46px;

    color: #FFFFFF;
}

.align-upcoming {
    width: 100%;
}

.upcoming-meetings-section1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 35px;
    background: #d9d9d9;
    border-radius: 10px;
    padding: 18px;
}