.container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.content1 {
  width: 85%;
  display: flex;
  flex-direction: column;
}

form > h3 {
  font-family: "DM Serif Text";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 122.02%;
  /* or 29px */

  text-transform: capitalize;

  color: #000000;
  padding-bottom: 30px;
}

.buttons > p {
  font-family: "DM Serif Text";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 122.02%;
  /* or 29px */

  text-transform: capitalize;

  color: #000000;
}

.buttons > a > .para {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  /* identical to box height */

  color: #000000;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons > a > .subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 122.02%;
  /* identical to box height, or 17px */

  color: #000000;
}

.activity {
  border-bottom: 20px solid #0d3451;
  padding-bottom: 70px;
}

.buttons > a {
  text-align: center;
  width: 466px;
  height: 220px;
  background: #a5d7e8;
  border-radius: 10px;
  padding: 80px;
  text-decoration: none;
}

.inputbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills > label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
::-webkit-file-upload-button {
    display: none;
 }
 ::file-selector-button {
    display: none;
  }
.skills > input,
.skills > textarea,
.skills > select {
  padding: 20px;
  background: #bdbdbd;
  border-radius: 10px;
  gap: 20px;
}

.skills > textarea {
  max-width: 100%;
}

::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 122.02%;
  /* or 24px */

  color: rgba(21, 21, 21, 0.26);
  padding-left: 30px;
}

.button1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button1 > .save {
  background: #0d3451;
  color: #ffffff;
}

.buttonfonttheme {
  border-radius: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 46px;
  width: 216px;
  height: 71px;
}

.button1 > .cancel {
  color: #000000;
  background: #bdbdbd;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

/* .custom-file-input::before {
  float: right;
  content: "Browse";
    background: #ffffff;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-align: center;
padding: 14px 49px;
} */
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  /* transition: background .2s ease-in-out; */
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
/* input[type=file]{
    height: 92px;

    padding: 0;
} */
