.consultant-type-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);

  gap: 30px;
}

.align-center {
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.radio-align {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 318px;
  height: 116px;
  align-items: center;
  justify-content: center;
  gap: 42px;
}
.radio-content-align > h1 {
  margin: 0;
}
.radio-content-align > p {
  color: rgba(13, 52, 81, 0.6);
  margin-top: 0;
}

.radio-content-align {
  display: flex;
  flex-direction: column;
}

.radio-align-row {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-content > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-content > select,
.form-content > textarea,
.form-content > input {
  width: 708px;
  height: 50px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
::placeholder {
  padding: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
label > span {
  color: rgba(255, 0, 0, 0.5);
}

.save-button {
  width: 194px;
  height: 53px;
  background: #0d3451;
  border-radius: 10px;
  color: #ffffff;
  border: none;
}

.upload {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"]:checked {
  appearance: none;
  outline: none;
  padding: 0;
  content: none;
  border: none;
  border-radius: 50%;
  background-color: #0d3451;
  font: icon;
}

input[type="radio"]:checked::before {
  font: icon;
  position: absolute;
  color: #ffffff ;
  content: "\00A0\2713\00A0" ;

  font-weight: bolder;
  font-size: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2) ;
  border-radius: 50%;
}

input[type="radio"] {
  appearance: none;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  content: none;
  outline: none;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2) ;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.upload input[type="file"] {
  display: inline-block;
  width: 100%;

  opacity: 0;
  cursor: pointer;

  content: none;
}

.uploadButton {
  width: 137px;
  height: 41px;

  background: #0d3451;
  border-radius: 10px;
  margin-right: -750px;
  color: #ffffff;
}

.fileName {
  font-size: 14px;

  color: rgba(13, 52, 81, 0.6);
  margin-right: 435px;
}

.radio-align:hover,
.activate-radio {
  background: #e2edff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.file .button {
  color: white;
  background-color: rgba(13, 52, 81, 1);
  border-radius: 10px;
  width: 137px;
  height: 41px;
  margin-right: 5px;
}
.file .button {
  font-size: 0;
  color: transparent;
  /* visibility: hidden; */
}
.file .button::after {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Browse";
  color: white;
  background-color: rgba(13, 52, 81, 1);
  border-radius: 10px;
  width: 137px;
  height: 41px;
  margin-right: 5px;
}

.file {
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

textarea {
  resize: vertical;
  min-height: 200px;
}

.select.multiple {
  border-radius: 10px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.select.multiple .dropdown-toggle {
  top: 3px;
}

.caption{
  color: #0d3451;
}