.publish-container {
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.publish-right {
    padding: 90px 40px;
    width: 80%;
}

.publish-right-container {
    padding: 0 70px;
    border: 1px solid black;
}

.heading-p {
    text-align: center;
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 102.52%;
    color: #0D3451;
    margin-top: 57px;

}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.field-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.field-section>label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 102.52%;
    color: #0D3451;
}

.field-section>input {
    background: rgba(165, 173, 186, 0.42);
    outline: none;
    border-radius: 10px;
    border: none;
    height: 45px;
    padding-left: 30px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 102.52%;
}

.field-section>input::placeholder {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 102.52%;
}

.field-double {
    display: flex;
    gap: 50px;
}

.field-double>input {
    width: 264px;
    height: 45px;
    background: rgba(165, 173, 186, 0.42);
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 30px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 102.52%;
}


.field-double>input::placeholder {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 102.52%;
}

/* .field-double>select {
    width: 185px;
    height: 45px;
    background: rgba(165, 173, 186, 0.42);
    outline: none;
    border-radius: 10px;
    border: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 102.52%;
    color: rgba(165, 173, 186, -0.2) !important;
    padding-left: 30px;
    background-image: url("assets/Downmenu.png") !important;
    background-repeat: no-repeat !important;
    background-position: 90% !important;
}

select {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
} */

.field-section>textarea {
    resize: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 102.52%;
    background: rgba(165, 173, 186, 0.42);
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 30px 30px;
}

.btn-section {
    display: flex;
    justify-content: space-around;
    margin: 50px 0 75px;
}

.btn-section>button {
    width: 195px;
    height: 59px;
    background: #0D3451;
    border-radius: 10px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 102.52%;
    border: none;
    outline: none;
}

.select-img {
    position: relative;
    top: 15px;
    right: 90px;
    /* object-fit: cover; */
    width: 25px;
    height: 15px;
}

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
}

.select-selected {
    text-align: start;
    height: 45px;
    background-color: rgba(165, 173, 186, 0.42);
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    z-index: 999;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: black;
    padding: 13px 16px;
    text-align: start;
    cursor: pointer;
    user-select: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 102.52%;
    color: #A5ADBA;
    border-radius: 10px;

}

.select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}