form {
  margin: 56px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
form > div {
  /* width: 622px;
height: 53px; */
  display: flex;
  background-color: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
i {
  position: absolute;
  margin: 15px 10px;
  min-width: 40px;
}
#location {
  padding-left: 40px;
  width: 146px;
}
.vr {
  border-left: 2px solid #a5adba;
  margin: 4px 0;
}
input[type="text"] {
  height: 56px;
  padding: 20px;
  width: 306px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #d9d9d9;
}
form > div > button {
  border: none;
  width: 165px;
  height: 43px;
  background: #0d3451;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin: 5px;
}
input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.27);
}

.top-search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 108px;
}
.top-search > h1 {
  align-self: flex-start;
  padding-bottom: 46px;
  font-family: "DM Serif Text";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-transform: capitalize;

  color: #000000;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  column-gap: 21px;
}

.list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  color: #000000;
  padding: 5px 15px;
  gap: 10px;
  background: #d9d9d9;
  border-radius: 5px;
}
.category > div {
  display: flex;
  justify-content: space-between;
}
.category {
  display: flex;
  margin: 50px 108px;
  flex-direction: column;
}
.category > h1 {
  margin-bottom: 55px;
  align-self: flex-start;

  font-family: "DM Serif Text";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-transform: capitalize;
  color: #000000;
}
.category-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 216px;
  height: 216px;
  background: #e2edff;
  border-radius: 10px;
}
.category-items>p{
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 32px;
padding: 22px 0;
text-transform: capitalize;
color: #000000;
}