.publish-container {
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publish-right {
  padding: 90px 40px;
  width: 80%;
}

.publish-right-container {
  padding: 0 70px;
  /* width: 822px; */
  border-radius: 20px;
  position: absolute;
  z-index: 14;
  background-color: #fff;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-box-shadow: 3px 4px 30px 5px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 3px 4px 30px 5px rgba(0, 0, 0, 0.62);
  box-shadow: 3px 4px 30px 5px rgba(0, 0, 0, 0.62);
}

.heading-p {
  text-align: center;
  font-family: "DM Serif Text";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 102.52%;
  color: #0d3451;
  margin-top: 57px;
}

.publish-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.field-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.field-section>label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 102.52%;
  color: #0d3451;
}

.field-section>input {
  outline: none;
  border-radius: 10px;
  border: 1px solid black;
  width: 100%;
  height: 45px;
  padding-left: 30px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 102.52%;
}

.select.multiple {
  width: 100% !important;
  height: 45px !important;
  border-radius: 10px !important;
  border: 1px solid black !important;
}

.field-section>textarea {
  resize: vertical;
  max-height: 200px;
  border-radius: 10px;
  border: 1px solid black;
}

.field-section>input::placeholder {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 102.52%;
}

.blur {
  filter: blur(10px);
}

.field-double {
  display: flex;
  gap: 50px;
}

.field-double>input {
  width: 264px;
  height: 45px;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 30px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 102.52%;
}

.field-double>input::placeholder {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 102.52%;
}


.select,
.input-normal {
  width: 280px !important;
  height: 45px !important;
  border-radius: 10px !important;
  border: 1px solid black !important;
}

.btn-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
}

.btn-section>button {
  width: 195px;
  height: 59px;
  border-radius: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}