@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter:wght@700&family=Jost&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hamburger,
.avatar {
    display: none ;
}

main {
    max-width: 1500px;
    margin: 0 auto;
}

header {
    color: white ;
    font-family: "Inter", sans-serif ;
    font-size: 14px ;
    width: 100% ;
}

.top {
    background-color: #0d3451 ;
    height: 46px ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.top>div {
    max-width: 1500px ;
    width: 100% ;
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
    padding: 0 105px ;
}

.tabs {
    position: relative ;
    z-index: 10 ;
    display: flex ;
    gap: 1rem ;
    font-family: 'Inter' ;
    background-color: transparent ;
    border: none ;
}

.tabs {
    display: flex ;
    align-items: center ;
    gap: 1rem ;
}

.tabs>li {
    text-decoration: none ;
    list-style: none ;
}

.tabs>li>a {
    font-size: 14px ;
    text-decoration: none ;
    color: #FFFFFF ;
}

.tabs>button {
    padding: 4px 15px ;
    background: #ffffff ;
    border: 1px solid #ffffff ;
    border-radius: 5px ;
    font-weight: 700 ;
    font-size: 14px ;
    line-height: 17px ;
}

.active {
    border-bottom: 3px solid #a5d7e8 ;
}

/* //footer  */


footer {
    background: #0d3451 ;
    display: flex ;
    justify-content: center ;
    color: white ;
    padding: 2rem 0px ;
}

.f-container {
    padding: 0rem 105px ;
    display: flex ;
    justify-content: space-between ;
    max-width: 1500px ;
}

.f-left {
    font-family: "Jost" ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px ;
    text-transform: capitalize;
    color: #ffffff;
    width: 50% ;
    margin-bottom: 0 ;
}

.f-left>h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 25px ;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 0 ;
    padding-bottom: 2rem ;
}

.f-left>p {
    margin-top: 0 ;
    margin-bottom: 0 ;
}

.f-right>h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 0 ;
    padding-bottom: 2rem ;
    color: #ffffff;
}

.f-right>div>ul {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0;
}

.f-right>div>ul>li {
    margin-bottom: 6px ;
}

.f-right>div>ul>li>a {
    text-decoration: none;
    color: #FFFFFF
}

.f-right {
    font-family: "Inter";
    font-style: normal;
    color: #ffffff;
}

.f-right>div {
    display: flex;
    justify-content: space-between;
}

.f-left>span {
    display: flex;
    align-items: center;
    padding: 10px 0 ;
    gap: 1rem ;
}

.f-left>p:last-child {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.f-left>span>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.f-right>div>ul>select {
    margin: 10px ;
}

.f-right>ul>li {
    padding-bottom: 0.5rem ;
}


.meeting {
    padding: 0rem 6.5rem;
}

.meeting-container {
    display: flex;
    border: 1px solid black;
    height: 80vh;
}

.left {
    width: 30%;
    border-right: 1px solid black;
    height: 100%;
    overflow-y: scroll;

}

.right {
    width: 70%;
    display: flex;
}

.left-upper {
    position: sticky;
    top: 0;
    padding: 20px 30px 0 30px;
    background-color: white;
}

.left-upper>input {
    width: 100%;
    height: 53px;
    padding-left: 10px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: rgba(13, 52, 81, 0.27);
}

.left-lower {
    margin-top: 10px
}

.single-chat {
    display: flex;
    gap: 20px;
    padding: 10px 30px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.single-chat>.info>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #0D3451;
}

.single-chat>.info>span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: rgba(13, 52, 81, 0.8);
}

.right-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.left-h {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-h>.info>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #0D3451;
}

.left-h>.info>span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: rgba(13, 52, 81, 0.8);
}

.right-lower {
    padding: 0px 30px 20px;
}

.input-section {
    display: flex;
    gap: 20px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px 30px;
}

.input-section>input {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;

}

input:placeholder-shown {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 122.02%;
    text-transform: capitalize;
    color: rgba(13, 52, 81, 0.27);
}

.right-middle {
    height: calc(100% * 0.7);
    padding: 10px 30px;
    overflow-y: scroll;
}

.recevier {
    display: flex;
    gap: 20px;
    align-items: center;
}

.text {
    padding: 8px 25px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    max-width: 50%;
}

.text>span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: rgba(13, 52, 81, 0.8);
}

.sender {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
}

.hidden-content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.secrh-conetext>.name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #0D3451;
}

.name>img {
    width: 20px;
}

.imgs {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 20px;
}

.imgs>img {
    width: 74px;
    height: 49px;
    object-fit: cover;
}