.saved {
    padding: 47px 105px;
    display: flex;
    gap: 20px;
}

.saved-left {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.saved-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    background: #ffffff;
    border: 1px solid rgba(13, 52, 81, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.para-1 {
    padding: 7px 19px 7px 19px;
    background: #ffffff;
    border: 1px solid rgba(13, 52, 81, 0.5);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.skills {
    padding-bottom: 18px;
    padding: 0 13px 0 13px;
}

.skills>div {
    display: flex;
    gap: 20px;
    padding-bottom: 18px;
}

.sub-heading-1 {
    padding-bottom: 22px;
}

.saved-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.profile {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile>.heading-2 {
    padding: 30px 19px 0 19px;
}

.profile>h3 {
    padding-top: 19px;
    padding-left: 19px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #0D3451;
}

.profile>div {
    padding-left: 19px;
}

.details {
    padding-bottom: 30px;
}

.details>p {
    padding-top: 15px;
}

main>div {
    display: flex;
    padding: 49px 105px;
    justify-content: flex-end;
}

button {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    border-radius: 10px;
    padding: 11px 15px;
    font-size: 32px;
    line-height: 46px;
    background-color: #0D3451;
    border: none;
    color: #FFFFFF;
}

table {
    width: 100%;
    text-align: left;
    /* border-collapse: collapse; */
}

td {
    padding: 10px 0px;
}