@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter:wght@700&family=Jost&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hamburger,
.avatar {
    display: none !important;
}

main {
    max-width: 1500px;
    margin: 0 auto;
}

header {
    color: white !important;
    font-family: "Inter", sans-serif !important;
    font-size: 14px !important;
    width: 100% !important;
}

.top {
    background-color: #0d3451 !important;
    height: 46px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.top>div {
    max-width: 1500px !important;
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 105px !important;
}

.tabs {
    position: relative !important;
    z-index: 10 !important;
    display: flex !important;
    gap: 1rem !important;
    font-family: 'Inter' !important;
    background-color: transparent !important;
    border: none !important;
}

.tabs {
    display: flex !important;
    align-items: center !important;
    gap: 1rem !important;
}

.tabs>li {
    text-decoration: none !important;
    list-style: none !important;
}

.tabs>li>a {
    font-size: 14px !important;
    text-decoration: none !important;
    color: #FFFFFF !important;
}

.tabs>button {
    padding: 4px 15px !important;
    background: #ffffff !important;
    border: 1px solid #ffffff !important;
    border-radius: 5px !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 17px !important;
}

.active {
    border-bottom: 3px solid #a5d7e8 !important;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.1rem 6.5rem;
}

.search>form {
    position: relative;
    margin: 3.25rem 0 3.25rem 0;
    width: fit-content;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid #000;
}

i {
    position: absolute;
    margin: 15px 10px !important;
    min-width: 40px !important;
}

#location {
    padding-left: 40px;
    width: 12rem;
}

.vr {
    height: 3.125rem;
    position: relative;
    z-index: 10;
    border-left: 2px solid #a5adba;
    margin: -9px 0;
}


input[type="text"] {
    height: 3.5rem;
    padding: 1.25rem;
    width: 23.438rem;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    background-color: #fff;
}

input::placeholder {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.27);
}

.search>form>button {
    border: none;
    width: 10.5rem;
    height: 2.563rem;
    background: #0d3451;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin: 5px;
}

.job-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding-right: 43px;
}

.job-nav h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 122.02%;
    text-transform: capitalize;
    color: #0d3451;
    padding-bottom: 1.313rem;
}

.job-nav ul {
    display: flex;
    height: 100%;
    margin: 0;
}

.job-nav li:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    background: #e2edff;
}

.job-nav>li:last-child {
    width: fit-content;
    height: 34px;
    background: #ffffff;
    border-radius: 10px;
    padding: 7px 14px;
    border: none;
}

.job-nav>li:last-child>a {
    font-size: 14px !important;
}

.job-nav li {
    cursor: pointer;
    list-style: none;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 33px;
    width: fit-content;
}

a:hover {
    text-decoration: none !important;
    color: #0d3451 !important;
}

.job-nav li>a {
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 122.02%;
    color: #0d3451;
}

.act>a {
    border-bottom: 3px solid #0d3451;
}

.search>.recent {
    background-color: #e2edff;
}

.search>.recent h1 {
    padding-top: 51px;
}

.search>p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    padding-bottom: 60px;
}

.search>section {
    margin-top: 5px;
    width: 100%;
}

.job p {
    margin: 0;
}

.job h3 {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #0d3451;
}

.job {
    width: 100%;
    padding: 45px 36px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.job:hover {
    background-color: #e2edff;
}

.job-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icons {
    align-self: flex-end;
}

.status {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 13px;
    gap: 10px;
}

.status>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0D3451;
}

.job-title>div {
    display: flex;
    align-items: center;
    gap: 25px;
}

.job-title p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0D3451;
}

.job-skills,
.budget {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.job-skills {
    padding: 7px 22px;
    background-color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #0D3451;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.skills {
    padding-right: 21px;
    height: 100%;
    border-right: 1px solid black;
}

.job-skills>p:nth-child(2) {
    font-size: 14px;
}

.job-skills>p:nth-child(1) {
    font-size: 16px;
}

.job>.desc {
    display: flex;
    gap: 42px;
}

.desc button {
    width: 120px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0d3451;
}

.desc>p {
    width: 90%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 122.02%;
    color: #0d3451;
}

.budget {
    background-color: #fff;
    align-items: center;
    padding: 7px 30px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.budget>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0D3451;
}

.job>div:nth-child(2) {
    display: flex;
    gap: 19px;
    padding: 40px 0 24px 0;
}

.icons {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}

.prev,
.next {
    border: none;
    width: 50px;
    height: 50px;
    left: 905px;
    top: 1500px;

    background: #FFFFFF;
    border-radius: 10px;
}



footer {
    background: #0d3451 !important;
    display: flex !important;
    justify-content: center !important;
    color: white !important;
    padding: 2rem 0px !important;
}

.f-container {
    padding: 0rem 105px !important;
    display: flex !important;
    justify-content: space-between !important;
    max-width: 1500px !important;
}

.f-left {
    font-family: "Jost" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    text-transform: capitalize;
    color: #ffffff;
    width: 50% !important;
    margin-bottom: 0 !important;
}

.f-left>h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 25px !important;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 0 !important;
    padding-bottom: 2rem !important;
}

.f-left>p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.f-right>h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 0 !important;
    padding-bottom: 2rem !important;
    color: #ffffff;
}

.f-right>div>ul {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0;
}

.f-right>div>ul>li {
    margin-bottom: 6px !important;
}

.f-right>div>ul>li>a {
    text-decoration: none;
    color: #FFFFFF
}

.f-right {
    font-family: "Inter";
    font-style: normal;
    color: #ffffff;
}

.f-right>div {
    display: flex;
    justify-content: space-between;
}

.f-left>span {
    display: flex;
    align-items: center;
    padding: 10px 0 !important;
    gap: 1rem !important;
}

.f-left>p:last-child {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.f-left>span>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.f-right>div>ul>select {
    margin: 10px !important;
}

.f-right>ul>li {
    padding-bottom: 0.5rem !important;
}


/* //Model  */
.modal {
    display: none;
    position: relative;
    z-index: 1;
    left: -350px;
    top: -60px;
}

.modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: 18% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 894px;
}

.model-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 32px;
    gap: 20px 30px;
}

.grids-upper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open:after {
    content: url(/assets/Vector\ 12.png);
}

.grids-upper>p {
    font-family: 'DM Serif Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #0D3451;

}

.grids-lower {
    margin-top: 10px;
    /* display: flex; */
    display: none;
    flex-direction: column;
    gap: 10px;
}

.grids-lower>button {
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #0D3451;
}

.seacrh-grid {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.seacrh-grid>input {
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
    color: #0D3451;

}

.scroll-grid {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 12px 20px;
    height: 200px;
    overflow-y: scroll;
    scrollbar-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scroll-grid>span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #0D3451;
}

.modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.modal-button>button {
    width: 198px;
height: 45px;
    background: #0D3451;
    border-radius: 10px;
}



.grids-lower [type="checkbox"] {
    display: none;
  }
  
  /* Style the label element */
  .grids-lower label {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    margin:10px;
  }
  
  /* Style the span element to look like a checkbox */
.grids-lower  span {
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #0D3451;
  }
  
  .grids-lower input[type="checkbox"]:checked + span {
    background-color: #0d3451;
    color: white;
  }
  