/* //Model  */
.filter-modal {
    display: none;
    position: relative;
    z-index: 1;
    left: -350px;
    top: -60px;
}

.modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: 18% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 894px;
}

.model-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 32px;
    gap: 20px 30px;
}

.grids-upper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open:after {
    content: url(/assets/Vector\ 12.png);
}

.grids-upper>p {
    color: #0D3451;

}

.grids-lower {
    margin-top: 10px;
    /* display: flex; */
    display: none;
    flex-direction: column;
    gap: 10px;
}

.grids-lower>button {
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    color: #0D3451;
}

.seacrh-grid {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.seacrh-grid>input {
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
    color: #0D3451;

}

.scroll-grid {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 12px 20px;
    height: 200px;
    overflow-y: scroll;
    scrollbar-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scroll-grid>span {
    color: #0D3451;
}

.modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.modal-button>button {
    width: 198px;
height: 45px;
    background: #0D3451;
    border-radius: 10px;
}



.grids-lower [type="checkbox"] {
    display: none;
  }
  
  /* Style the label element */
  .grids-lower label {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    margin:10px;
  }
  
  /* Style the span element to look like a checkbox */
.grids-lower  span {
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    color: #0D3451;
  }
  
  .grids-lower input[type="checkbox"]:checked + span {
    background-color: #0d3451;
    color: white;
  }
  